@font-face {
    font-family: 'hsn_ibtisamnormal';
    src: url("../style/HSN_Ibtisam.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 10rem;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------ body -------- */
body, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;   
}
/* ------ navbar -------- */
nav {
    display: flex;
    font-size: 1.3vw;
    justify-content: center;
    margin-top: 1px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a{
    cursor: pointer;
    margin: 1px;
    padding: 0px 20px;
    background-color: #30928C;
    transition: 0.2s;
    opacity: 0.9;
}
nav a:hover{
    background-color: #1d726d;
    font-size: 1.4vw;
    opacity: 1;
}

/* ------ bot -------- */

#bot{
    height: 4.2vw;
    width: 4.2vw;
    position:fixed;
    bottom: 4.5vw;
    right: 4vw;
    transition: 0.2s;
    animation-name: col;
    animation-duration: 2s;
    z-index: 1;
}
.bot-border {
    height: 4.15vw; 
    width: 4.15vw;
    border-radius: 50%;
    border: 1px solid #30928C!important;
    animation-name: bord-pop;
    animation-duration: 2s;
    box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc;
}
#bot>img{
    animation-name: bell-ring;
    animation-duration: 2s;
}
#bot:hover{
    bottom: 4.7vw;
}

/* ------ من نحن؟ -------- */

#about{
    width: 75%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    font-size: 1.3vw;
    margin: 50px 0;
}
#about > h1{
    grid-row-start: 1;
    grid-column: span 3;
    margin-bottom: 20px;
}

#about > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}
#about > img{
    border-radius: 15px;
    width: 90%;
    height: auto;
    border: 5px #30928C;
    border-style: ridge;
}
li {
    margin: 0;
    padding: 5px 30px 0 0;
    list-style: none;
    background-image: url(/public/images/زخرف\ أخضر.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 1.4vw;
}
/* ------ انجازاتنا -------- */

#impact{
    display: flex;
    gap: 7vw;
    margin: 50px 0;
}
.impact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.4vw;
}
.count, .impact-type{
    margin: 0;
    height: 1.4vw;
}
.impact-type{
    color: #666666;
}
.imp-icon{
    border-radius: 50%;
    height: 4.5vw;
    width: 4.5vw;
    background-color: #30928C;
    position: relative;
}
.imp-icon > img{
    height: 2.8vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* ------ قالو عنا -------- */

#testimonials{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 50px 0;
}
.test-container{
    transform: scale(0.9);
	margin: 1rem;
    padding: 1rem;
	display: flex;
	gap: 50px;
    width: 50%;
    flex-wrap: nowrap;
    overflow-x:hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.test-card {
    display: inline-block;
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #1d726d80;
    border: 1px solid rgb(203, 194, 194);
    width: 100%;
    flex: 0 0 auto;
}

.test-card > .name {
    color: #333333;
    font-size: 1.3vw;
    margin-bottom: 0.1rem;
    font-weight: 600;
}
.test-card > img{
    width: 15%;
    height: auto;
}

.review p {
    color: #555555;
    font-weight: 500;
    line-height: 1.5;
    font-size: 1.2vw;
}

/* ------ مجلة صبغة الله -------- */

#mag{
    margin: 50px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
#mag h1{
    margin-top: 0;
}
.mag-card{
    margin: 50px 25px 0 25px;
    font-weight: bold;
    font-size: 1.3vw;
    display: inline-block;
}
.mag-card img{
    border: 1px solid rgb(203, 194, 194);
    border-radius: 10px;
    box-shadow: 6px 6px 10px 0px rgb(177, 173, 173);
    transition: 0.3s;
}
.mag-card p {
    color: #666666;
}

.mag-card img:hover{
    box-shadow: 5px 5px 10px 0 #1d726d80;
}

.mags-container{
    display: flex;
    width: 70%;
    flex-wrap: nowrap;
    overflow-x:scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.mags-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.left{
    position: absolute;
    left: 10%;
    top: 55%;
}
.left-testm{
    position: absolute;
    left: 22%;
    top: 60%;
}
.right-testm{
    position: absolute;
    right: 22%;
    top: 60%;
}
.right {
    position: absolute;
    right: 10%;
    top: 55%;
}
.right, .left, .left-testm, .right-testm{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
/* ------ انضم إلينا -------- */

#join-us{
    position: relative;
    width: 100%;
    background: linear-gradient(0deg,#000000b3,#000000b3),url(/public/images/pgcover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin: 50px 0;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    font-size: 1.6vw;
    font-weight: bold;
}

#join-us > a{
    position: absolute;
    bottom: 15%;
}

#join-us > img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

/* ------ إبداع أبناء الإسلام -------- */

#innovation{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    margin: 50px 0;
}
.innov-container{
    display: grid;
    width: 80%;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 50px ;
}
.innov-container p{
    font-size: 1.4vw;
    margin-bottom: 50px;
}

/* ------ حساباتنا -------- */
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer > div, footer > a{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 10px 3vw;
}
footer a > img{
    max-height: 30px;
    width: 2vw;
    height: auto;
}
.email-parent{
    font-size: 1.2vw;
}
.email-parent:hover > .email{
    animation-name: bell-ring-no-trans;
    animation-duration: 2s;
}
#social-media > a{
    transition: 0.4s;
}
#social-media > a:hover
{
    transform: scale(1.1);
}
.email-parent:hover{
    text-decoration: underline;
    color: blue;
}

/* ------ General -------- */

.responsive-img{
    width: 100%;
    max-width: 500px;
    height: auto;
}
a{
    text-decoration: none;
    color: black;
}
h1{
    font-family: 'hsn_ibtisamnormal';
}
.hsn{
    font-family: 'hsn_ibtisamnormal';
}
.sub-btn {
    font-family: 'hsn_ibtisamnormal';
    border-radius: 25px;
    background-color: #A22E5F;
    color: #ffffff;
    font-weight: normal;
    font-size: 1.4vw;
    padding: 0 20px;
    transition: 0.3s;
}
.sub-btn:hover{
    background-color: #E64E8E;
}
button[disabled=true] img{
    opacity: 0;
}
/* media-quiries */

@media (max-width: 1024px){
    h1{
        font-size: 4.5vw;
    }
    nav, #about, .test-card > .name, .mag-card{
        font-size: 2.2vw;
    }  
    .review p, .email-parent {
        font-size: 2vw;
    }
    nav a:hover, .impact-card, .innov-container p, .sub-btn{
        font-size: 2.4vw;
    }
    .count, .impact-type{
        height: 2.4vw;
    }
    li{
        background-size: 2.4vw;
    }
    #bot, .bot-border{
        height: 7vw;
        width: 7vw;
    }
    #about > img{
        width: 100%;
    }
    .imp-icon {
        height: 7vw;
        width: 7vw;
    }
    .imp-icon > img{
        height: 4.5vw;
    }
    .test-card > img{
        width: 30%;
    }
    .mag-card img{
        height: 200px;
    }
    #join-us{
        font-size: 2.5vw;
    }
    #join-us > a{
        bottom: 10%;
        font-size: 2.2vw;
    }
    footer a > img{
        width: 3vw;
    }
    
}
@media (max-width: 768px){
    #about, #impact, #testimonials, #mag, #join-us, #innovation{
        margin: 40px 0;
    }
    .test-container{
        width: 75%;
    }
    .mags-container{
        width: 85%;
    }
    .mag-card{
        margin: 50px 15px 0 15px;
    }
    .left{
        left: 1%;
    }
    .right{
        right: 1%;
    }
    .left-testm{
        left: 10%;
    }
    .right-testm{
        right: 10%;
    }
}
@media (max-width: 550px){
    h1{
        font-size: 7.5vw;
    }
    #about, .test-card > .name, .mag-card{
        font-size: 4vw;
    }
    nav a:hover, .impact-card, .innov-container p, .sub-btn{
        font-size: 4.8vw;
    }
    .review p{
        font-size: 4vw;
    }
    .email-parent {
        font-size: 3.8vw;
    }
    .count, .impact-type{
        height: 4.8vw;
    }
    li{
        background-size: 4.4vw;
    }
    nav{
        font-size: 4vw;
    } 
    nav a {
        padding: 0 3px;
    }
    #bot, .bot-border{
        height: 12vw;
        width: 12vw;
    }
    #bot > img{
        height: 8vw;
        width: 8vw;
    }
    #bot{
        bottom: 12vw;
        right: 5vw;
    }
    #bot:hover{
        bottom: 13vw;
    }
    #about{
        width: 90%;
        grid-template-columns: 1fr;
        gap: 15px;
    }
    #about> div{
        grid-row-start: 3;
    }
    #about > img{
        width: 75%;
    }
    #impact {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        align-items: center;
        justify-items: center;
        row-gap: 40px;
        column-gap: 0px;
    }
    .imp-icon {
        height: 16vw;
        width: 16vw;
    }
    .imp-icon > img{
        height: 10vw;
    }
    .test-container{
        width: 85%;
    }
    .left-testm{
        left: 4%;
    }
    .right-testm{
        right: 3%;
    }
    #mag{
        width: 100%;
    }
    .mags-container{
        width: 90%;
        -ms-overflow-style:unset;  /* Internet Explorer 10+ */
        scrollbar-width: initial;  /* Firefox */
        padding-bottom: 15px;
    }
    .mag-card img{
        height: 180px;
    }
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    .mags-container::-webkit-scrollbar {
        display:initial;  /* Safari and Chrome */
        width: 10px;
        margin-top: 50px;
      }
      
      /* Track */
    .mags-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
    }
    
    /* Handle */
    .mags-container::-webkit-scrollbar-thumb {
        background: #1d726d; 
        border-radius: 10px;
    }
    
    /* Handle on hover */
    .mags-container::-webkit-scrollbar-thumb:hover {
        background: #30928C; 
    }
    #join-us{
        font-size: 4vw;
        width: 100%;
        height: 30vh;
        overflow-x: hidden;
    }
    #join-us > a{
        font-size: 4.2vw;
    }
    #join-us > img{
        width: min-content;
        height: 30vh;
    }
    .innov-container{
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 1 1 1;
        row-gap: 15px;
    }
    .innov-container > div{
        grid-row-start: 3;
    }
    .innov-container p {
        margin-bottom: 15px;
    }
    footer a > img {
        width: 6.5vw;
    }
    footer > div, footer > a{
        gap: 8px;
    }
}
/* ------ Animations -------- */

@keyframes bord-pop {


    50% {

        transform: scale(1.9);

        opacity: 0.1;

    }

    100% {

        transform: scale(1.9);

        opacity: 0;

    }

}

@keyframes col {

    0% {

        transform: scale(1);

    }

    10% {

        transform: scale(1.1);

    }

    75% {

        transform: scale(1);

    }

    100% {

        transform: scale(1);

    }

}

@keyframes bell-ring {

    0% {

        transform: translate(-50%, -50%);

    }

    5%, 15% {

        transform: translate(-50%, -50%) rotate(5deg);

    }

    10%, 20% {

        transform: translate(-50%, -50%) rotate(-5deg);

    }

    25%  {

        transform: translate(-50%, -50%) rotate(0deg);

    }

    100% {

        transform: translate(-50%, -50%) rotate(0deg);

    }
}
@keyframes bell-ring-no-trans {

    5%, 15% {

        transform: rotate(10deg);

    }

    10%, 20% {

        transform: rotate(-10deg);

    }

    25%  {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(0deg);

    }
}
