@font-face {
    font-family: 'hsn_ibtisamnormal';
    src: url("../style/HSN_Ibtisam.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
    scroll-padding: 10rem;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ------ body -------- */
body, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
/* ------ navbar -------- */
nav {
    display: flex;
    font-size: 1.3vw;
    justify-content: center;
    margin-top: 1px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav a{
    cursor: pointer;
    margin: 1px;
    padding: 0px 20px;
    background-color: #30928C;
    transition: 0.2s;
    opacity: 0.9;
}
nav a:hover{
    background-color: #1d726d;
    font-size: 1.4vw;
    opacity: 1;
}

/* ------ bot -------- */

#bot{
    height: 60px;
    width: 60px;
    position:fixed;
    bottom: 4.5vw;
    right: 4vw;
    transition: 0.2s;
    animation-name: col;
    animation-duration: 2s;
    z-index: 1;
}
.bot-border {
    height: 59px; 
    width: 59px;
    border-radius: 50%;
    border: 1px solid #30928C!important;
    animation-name: bord-pop;
    animation-duration: 2s;
    box-shadow: 2px 2px 5px #ccc, -2px -2px 5px #ccc;
}
#bot>img{
    animation-name: bell-ring;
    animation-duration: 2s;
}
#bot:hover{
    bottom: 4.7vw;
}

/* ------ من نحن؟ -------- */

#about{
    width: 70%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    font-size: 20px;
    margin: 70px 0;
}
#about > h1{
    grid-row-start: 1;
    grid-column: span 2;
    margin-bottom: 20px;
}

#about > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about > img{
    border-radius: 15px;
    height: 350px;
    border: 5px #30928C;
    border-style: ridge;
}
li {
    margin: 0;
    padding: 5px 30px 0 0;
    list-style: none;
    background-image: url(/public/images/زخرف\ أخضر.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 25px;
}
/* ------ انجازاتنا -------- */

#impact{
    display: flex;
    gap: 100px;
    margin: 50px 0;
}
.impact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}
.count, .impact-type{
    margin: 0;
    height: 25px;
}
.impact-type{
    color: #666666;
}
.imp-icon{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: #30928C;
    position: relative;
}
.imp-icon > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* ------ قالو عنا -------- */

#testemonials{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 50px 0;
}
.test-container{
    transform: scale(0.9);
	margin: 1rem;
    padding: 1rem;
	display: flex;
	gap: 50px;
    width: 50%;
    flex-wrap: nowrap;
    overflow-x:hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.test-card {
    display: inline-block;
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #1d726d80;
    border: 1px solid rgb(203, 194, 194);
    width: 100%;
    flex: 0 0 auto;
}

.test-card > .name {
    color: #333333;
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}

.review p {
    color: #555555;
    font-weight: 500;
    line-height: 1.5;
}

/* ------ مجلة صبغة الله -------- */

#mag{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
#mag h1{
    margin-top: 0;
}
.mag-card{
    margin-top: 50px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}
.mag-card img{
    border: 1px solid rgb(203, 194, 194);
    border-radius: 10px;
    box-shadow: 6px 6px 10px 0px rgb(177, 173, 173);
    transition: 0.3s;
}
.mag-card p {
    color: #666666;
}

.mag-card img:hover{
    box-shadow: 5px 5px 10px 0 #1d726d80;
}

.mags-container{
    display: flex;
    gap: 50px;
    width: 70%;
    flex-wrap: nowrap;
    overflow-x:scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.mags-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.left{
    position: absolute;
    left: 100px;
    top: 55%;
}
.left-testm{
    position: absolute;
    left: 350px;
    top: 60%;
}
.right-testm{
    position: absolute;
    right: 350px;
    top: 60%;
}
.right {
    position: absolute;
    right: 110px;
    top: 55%;
}
.right, .left, .left-testm, .right-testm{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
}
/* ------ انضم إلينا -------- */

#join-us{
    width: 100%;
    height: 320px;
    position: relative;
    background-color: #000000c8;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#join-us > img{
    width: 100%;
    position: absolute;
    z-index: -1;
}

/* ------ إبداع أبناء الإسلام -------- */

#innovation{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    margin: 50px;
}
.innov-container{
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 50px ;
}
.innov-container p{
    font-size: 20px;
    margin-bottom: 50px;
}

/* ------ حساباتنا -------- */
footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer > div, footer > a{
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px 30px;
}
.email-parent{
    font-size: 17px;
}
.email-parent:hover > .email{
    animation-name: bell-ring-no-trans;
    animation-duration: 2s;
}
#social-media > a{
    transition: 0.4s;
}
#social-media > a:hover
 {
    transform: scale(1.1);
}
.email-parent:hover{
    text-decoration: underline;
    color: blue;
}

/* ------ General -------- */

a{
    text-decoration: none;
    color: black;
}
h1{
    font-family: 'hsn_ibtisamnormal';
}
.hsn{
    font-family: 'hsn_ibtisamnormal';
}
.sub-btn {
    font-family: 'hsn_ibtisamnormal';
    border-radius: 25px;
    background-color: #A22E5F;
    color: #ffffff;
    font-weight: normal;
    font-size: 22px;
    padding: 0 20px;
    transition: 0.3s;
}
.sub-btn:hover{
    background-color: #E64E8E;
}
button[disabled=true] img{
    opacity: 0;
}
/* ------ Animations -------- */

@keyframes bord-pop {


    50% {

        transform: scale(1.9);

        opacity: 0.1;

    }

    100% {

        transform: scale(1.9);

        opacity: 0;

    }

}

@keyframes col {

    0% {

        transform: scale(1);

    }

    10% {

        transform: scale(1.1);

    }

    75% {

        transform: scale(1);

    }

    100% {

        transform: scale(1);

    }

}

@keyframes bell-ring {

    0% {

        transform: translate(-50%, -50%);

    }

    5%, 15% {

        transform: translate(-50%, -50%) rotate(5deg);

    }

    10%, 20% {

        transform: translate(-50%, -50%) rotate(-5deg);

    }

    25%  {

        transform: translate(-50%, -50%) rotate(0deg);

    }

    100% {

        transform: translate(-50%, -50%) rotate(0deg);

    }
}
@keyframes bell-ring-no-trans {

    5%, 15% {

        transform: rotate(10deg);

    }

    10%, 20% {

        transform: rotate(-10deg);

    }

    25%  {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(0deg);

    }
}
